{% extends 'adminnav.html' %}
{% block content %}
<br>
<br>
<div class="row">
    <div class="col">
        <form action="" method="post">
            {% csrf_token %}
            <table align="center">
                <tr>
                    <td>Student sem:</td>
                    <td><input type="text" name="tsem"></td>
                </tr>
                <tr>
                    <td>Student course:</td>
                    <td>
                        <select name="ddlcourse">
                            {% for i in lis %}
                            <option>{{ i.cname }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="middle"><input type="submit" class="sub"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col">
        <form method="post" action="readissuedbook">
            {% csrf_token %}
            <table align="center">
                <tr>
                    <td>student name:</td>
                    <td>
                        <select name="ddlstud">

                            <option>{{ lis3.sname }}</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Book name:</td>
                    <td>
                        <select name="ddlbook">
                            {% for i in lis2 %}
                            <option>{{ i.bname }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>start date:</td>
                    <td><input type="date" name="tstart"></td>
                </tr>
                <tr>
                    <td>end date:</td>
                    <td><input type="date" name="tend"></td>
                </tr>
                <tr>
                    <td colspan="2" align="middle"><input type="submit" value="assign" class="sub"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<style>
    body{
            background-color:#90a67c;
            }
    input{

            background-color:#bfbfbf;
            border-radius:8px;
            border:2px solid #252525;
            }
    td{padding:3px;}
    select{

            background-color:#bfbfbf;
            border-radius:8px;
            border:2px solid #252525;
            width:99%;
            }
    .sub{
            background-color:#252525;
            color:#bfbfbf;
            width:35%;
            }
</style>
{% endblock %}