<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
</head>
<body>
<h2 align="center">login</h2>
<h3 align="center" style="color:red">{{data}}</h3>
<form action="checkdata" method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td>username:</td>
            <td><input type="text" name="tname"></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="password" name="tpass"></td>
        </tr>
        <tr>
            <td colspan="2" align="middle"><input type="submit" value="login" class="sub"></td>
        </tr>
        <tr>
            <td align="middle"><a href="{% url 'studsignup' %}">student signup</a></td>
            <td align="middle"><a href="{% url 'adminsignup' %}">admin signup</a></td>
        </tr>
    </table>
</form>
</body>
<style>
    body{
            background-color:#90a67c;
            }
    table{
            padding:30px;
            border:2px solid #252525;
            border-radius:8px;

            }
    td{padding:3px;}
    input{
            height:20px;
            background-color:#bfbfbf;
            border-radius:8px;
            border:2px solid #252525;
            }
    .sub{
            background-color:#252525;
            color:#bfbfbf;
            width:25%;
            }
</style>
</html>